<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href={{STATIC_URL}}favicon.ico type="image/x-icon">
<title>{% block pagetitle %}Case Community Online - Phoenix & Partners{% endblock %}</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}style.css">
<script src="{{STATIC_URL}}jquery-latest.js"></script>
<script src="{{STATIC_URL}}scripts.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
body{
	margin:0 !important;
}
.preload{
	width:0px;
	height:0px;
	position:absolute;
	z-index:-2;
	display:none;
	visibility:hidden;
}

</style>


<body>
<header class="header_block">
	<div class="header">
		<div class="main">
			<div class="logo">
                <a href="{% url 'home' %}">
				<img src="{{STATIC_URL}}pp_small.svg" alt="Hi!" />
				</a>
			</div>
			<div class="search_block">
				<input type="text" class="search_input" placeholder="Введите Ваш поисковый запрос">
			</div>
			<div class="search_button" type="submit">
				Найти
			</div>
			{% if user.is_authenticated %}
			<!--<a href = "accounts/{{user.username}}" class="enter">  Hola,{{user.username}}! </a>
			<a href="{% url 'userena_signout' %}" class="enter">
			    Выход
			</a>-->

			<div class="loged_icon" id="profile_settings">
				<img src="{{STATIC_URL}}icons/settings.svg" width="35px" class="opacity07">
			</div>
				<noindex>
					<ul id="profile_menu_block">
						<a href="accounts/{{user.username}}"><li>Мой профиль</li></a>
						<a href="/id/1/edit"><li>Редактировать профиль</li></a>
						<li>Настройки аккаунта</li>
						<a href="{% url 'userena_signout' %}"><li>Выйти</li></a>
					</ul>
				</noindex>
			
			<a href="#" class="loged_icon">
				<img src="{{STATIC_URL}}icons/message.svg" width="35px" class="opacity07">
				<div class="message_notif">1</div>
			</a>
			<a href="accounts/{{user.username}}" class="loged_ava">
				<img src="/id/1/main.jpg" width="45px">
			</a>

			{% else %}
			<a href="{% url 'userena_signin' %}" class="enter">
			    Вход
			</a>
			<a href="{% url 'userena_signup' %}" class="enter">
			    Регистрация
			</a>
			{% endif %}
		</div>
	</div>

	<div class="post_header">
		<div class="main">
			<a class="navi" href="/news">
				Новости
			</div>
			<div class="navi">
				Обсуждения
			</div>
			<div class="navi">
				Проекты
			</div>
			<div class="navi">
				FAQ
			</div>
			<div class="navi">
				О проекте
			</div>
		</div>
	</div>
</header>

{% block content %}

{% endblock %}

<footer class="footer block">
	{% block footer %}
	<div class="main">
		<div class="footer_line">
			<a class="footer_text" href="/">Главная</a>
			<a class="footer_text" href="/news">Новости и статьи</a>
			<a class="footer_text" href="/my_page">Личный кабинет</a>
			<a class="footer_text" href="/registration">Регистрация</a>
		</div>	
		<div class="footer_line">
			<span class="footer_text"><b>© 2015 Phoenix & Partners</b></span>
			<a class="footer_text" href="/about">О компании</a>
			<a class="footer_text" href="/security">Конфиденциальность</a>
			<a class="footer_text" href="/partners">Партнерство</a>
			<a class="footer_text" href="/contacts">Контакты</a>
		</div>
	</div>
	{% endblock %}
</footer>

    </body>
</html>
