{% extends 'base.html' %}
{% block title %}Welcome to Phoenix and partners omega version!{% endblock %}
{% block content%}
<div class="teaser">
	<div class="main" style="padding-top:70px">
		<div class="description">
			<b>Case Community Online</b>
		</div>	
		<div class="counters">
			<div class="counter_block">
				<div class="counter">
					<span style="font-size:60px">871</span></br>
					студент уже присоединились к нам
				</div>
			</div>
			<div class="counter_block">
				<div class="counter">
					<span style="font-size:60px">736</span></br>
					часов практических тренингов
				</div>
			</div>
			<div class="counter_block">
				<div class="counter">
					<span style="font-size:60px">134 000</span></br>
					мегабайт полезной информации
				</div>
			</div>
		</div>
	</div>
</div>

<div class="news">
	<div class="main" lang="ru">
		<center><div class="h1_pseudo">Последние новости</div></center>
		<a href="news/advanced_excel/index.html" class="news_block">
			<div class="hidder"></div>
			<div class="news_sample">
				<img src="materials/news_sample.jpg">
				<div class="news_header">
					<div class="header_news">Тренинг McKinsey специально для Phoenix Case School</div>
				</div>
				<div class="news_date">16.02.2014</div>
				<div class="news_announce">
					16 декабря в московском офисе McKinsey состоялось занятие организованное специально для студентов Phonex Case School. Спикером на занятии был партнер консалтинговой компании. Занятие было посвящено основным фреймворкам, используемым в презентациях.
				</div>	
			</div>
		</a>
		<a href="news/advanced_excel/index.html" class="news_block">
			<div class="hidder"></div>
			<div class="news_sample">
				<img src="materials/news_sample2.jpg">
				<div class="news_header">
					<div class="header_news">Advanced Excel и моделирование бизнеса риселлера Apple</div>
				</div>
				<div class="news_date">16.02.2014</div>
				<div class="news_announce">
					На прошедшем 28 февраля занятии был замоделирован бизнес риселлера Apple. Бизнес представлял собой гибрид между Re:Store и успешного интернет-магазина Юлмарт. Так же на занятии началось введение в курс Advanced Excel.
				</div>	
			</div>
		</a>
		<a href="news/advanced_excel/index.html" class="news_block">
			<div class="hidder"></div>
			<div class="news_sample">
				<img src="materials/news_sample3.jpg">
				<div class="news_header">
					<div class="header_news">Интернет-магазин Apple - стартап от PCS</div>
				</div>
				<div class="news_date">16.02.2014</div>
				<div class="news_announce">
					21 февраля начался тренинг по бизнес-моделированию - это первый тренинг в цикле business modelling. За основу был взят бизнес интернет-магазина, являющегося официальным риселлером продукции Apple. Бизнес моделировался "с нуля", горизонт прогнозирования составил 5 лет.
				</div>	
			</div>
		</a>
		<a href="news/advanced_excel/index.html" class="news_block">
			<div class="hidder"></div>
			<div class="news_sample">
				<img src="materials/news_sample5.jpg">
				<div class="news_header">
					<div class="header_news">Phoenix Case School: участие в конкурсе Энактус, история подготовки и защиты проекта </div>
				</div>
				<div class="news_date">16.02.2014</div>
				<div class="news_announce">
					Кейс-школа Phonenix приняла участие в московском конкурсе организованном МГУ Энактус. На конкурсе были презентованы десятки проектов, которые по мнению авторов могли бы улучшить "жизнь" университета.
				</div>	
			</div>
		</a>
		<a href="news/advanced_excel/index.html" class="news_block">
			<div class="hidder"></div>
			<div class="news_sample">
				<img src="materials/news_sample4.jpg">
				<div class="news_header">
					<div class="header_news">Прошел разбор тренировочного кейса по ресторанам</div>
				</div>
				<div class="news_date">16.02.2014</div>
				<div class="news_announce">
					 7 ферваля в стенах экономического факультета МГУ прошел общешкольный практический тренинг, на котором разбирался прошлогодний кейс по ресторанам. Была разобрана бизнес-модель, включающая 4 отдельных файла excel  с более 15 листами в каждой из них.
				</div>	
			</div>
		</a>
		<a href="news/advanced_excel/index.html" class="news_block">
			<div class="hidder"></div>
			<div class="news_sample">
				<img src="materials/news_sample6.jpg">
				<div class="news_header">
					<div class="header_news">Последний тренинг в 2014 году: PCS Restaurants Group</div>
				</div>
				<div class="news_date">16.02.2014</div>
				<div class="news_announce">
					На тренинге был смодедирован полуфинал одного из самых сложных кейс-чемпионатов Business Diving. Студентам было предложено разработать стратегию развития ресторанной сети и провести переговоры с топ-менеджментом компании с целью выявления основных причин появления проблем.
				</div>	
			</div>
		</a>
		<div class="show_more">
			<div class="show_more_enter">Показать еще</div>
		</div>
	</div>
</div>

{% endblock %}