{% extends 'base.html' %}
{% block content %}
<div class="teaser">
	<div class="main" style="padding-top:70px">
		<div class="description">
			<b>Case Community Online</b>
		</div>	
		<div class="counters">
			<div class="counter_block">
				<div class="counter">
					<span style="font-size:60px">871</span></br>
					студент уже присоединились к нам
				</div>
			</div>
			<div class="counter_block">
				<div class="counter">
					<span style="font-size:60px">736</span></br>
					часов практических тренингов
				</div>
			</div>
			<div class="counter_block">
				<div class="counter">
					<span style="font-size:60px">134 000</span></br>
					мегабайт полезной информации
				</div>
			</div>
		</div>
	</div>
</div>

<div class="news">
	<div class="main" lang="ru">
		<center><div class="h1_pseudo">Последние новости</div></center>
			{% for article in articles %}
			<a href="{%url 'myarticle:detailedArticleByUrl' article.url %}" class="news_block">
				<div class="hidder"></div>
				<div class="news_sample">
					<div class = "img_news">
						<img class="img_news_settings" src="{{STATIC_URL}}{{article.image}}">
					</div>
					<div class="news_header">
						<div class="header_news">{{article.title|upper}}</div>
					</div>
					<div class="news_date">{{article.date}}</div>
					<div class="news_announce">
						{{ article.text|striptags|truncatewords:"55"}}
					</div>
				</div>
			</a>
			{% endfor %}
			{% comment %}{% show_more %}{% endcomment %}
		<a href="/news"><div class="show_more">
			<div class="show_more_enter">Показать еще</div>
		</div></a>
	</div>
</div>

{% endblock %}
