{% extends 'myarticle/basearticle.html' %}
{% block pagetitle %} {{thearticle.title}} {% endblock %}

{% block articletitle %} {{thearticle.title}} {% endblock %}


{% block articleslist %} 
<div class="article_date">{{thearticle.date}}</div>
<img class = "headimage" src="{{STATIC_URL}}{{thearticle.image}}">
<div class="article_text">
	{{thearticle.text|safe}}
</div>
</br>
<div class="article_author">Автор:<strong>
	{% if thearticle.author != "author unknown"%}<i>{{thearticle.author}}</i>{% endif %}</strong>
</div>
 {% if thearticle.tagedge_set.all%}
<div class="article_tags">
	<p>Тэги:</p>
	<ul>
	{% for pair in thearticle.tagedge_set.all %}
	<li><a href = "{% url 'myarticle:listByTagText' tag_text=pair.tag.text %}">{{pair.tag.text}}</a></li>
	{% endfor %}
	</ul>
</div>
</br>
{% endif %}


<div class = "comments_block articles_comments_block">
	{% load comments %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>

	<div class="comments_container">
		<div class="h3_pseudo">Комментарии</div>
		{% get_comment_count for thearticle as comment_count %}
		{% if comment_count > 0 %}
		<p class="small_font" style="margin:5px 0px">{{comment_count}} комментариев</p>
		{% else %}
		<div class="comment_block">К статье пока не оставили комментариев. Будьте первым!</div>
		{% endif %}
	</div>
<script>
function deletecomment(id) {
	$.ajax({
		url: '/news/deletecomment/' + id,
	}).done(function(msg){
		element = document.getElementById("comment" + id)
		element.parentNode.removeChild(element);
	})
}
</script>
	{% get_comment_list for thearticle as comment_list %}
	{% for comment in comment_list %}
	<div class="comments_container" id = "comment{{comment.id}}">
		<div class="comment_block">
			<div class="header_comment_block">
				<div class="author_comment_photo">
					<img src="{{STATIC_URL}}phoenixcs_logo_short.jpg" height="50">
				</div>
				<div class="header_comment">
					<h3 class="author medium_font">{{comment.user_name}}</h3>
					<div class="date small_font">{{comment.submit_date}}</div>
				</div>
				{% if user == comment.user %}
				<div class = "delete_comment_button">
  					{%comment%}<a class="delete_comment" href="{% url 'myarticle:deleteMyComment' comment_id=comment.id %}">&times</a> {%endcomment%}
					<a class="delete_comment" onclick="javascript: deletecomment({{comment.id}});return false;" href="">&times</a>
				</div>
				{% endif %}
			</div>
			<div class="text" >
				{{comment.comment}}	
			</div>
		</div>
	</div>
	{% endfor %}

	<div class = "comments_container border_top20">
		{% if user.is_authenticated %}
		{% get_comment_form for thearticle as form %}
		<form action="{% comment_form_target %}" method="POST">
			{% csrf_token %}
			<div class="comments_input_block border_top20">
				<textarea type="text" class="comments_input" placeholder="Оставьте Ваш комментарий" id="id_comment" maxlength="3000" name="comment"> </textarea>
			</div>
			{{ form.content_type }}
			{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}
			<input type="hidden" name="next" value="{% url  'myarticle:detailedArticleByUrl' thearticle.url %}" />
			<div class="comments_enter_block">
				<input type="submit" class="button comments_button" value="Комментировать" id="id_submit" />
			</div>
		</form>
		{% else %}
		</br>
		<p>Пожалуйста, <a href="{% url 'userena_signin' %}">войдите</a> или <a href="{% url 'userena_signup' %}">зарегистрируйтесь</a>, чтобы оставить комментарий.</p>
		{% endif %}
	</div>
</div>

{% endblock %}
