/*
ПРИМЕЧАНИЯ:
z-index:999; - настроен у всплывашек типа "написать сообщение" или "вход"
z-index:500; - настроен у меню типа тех, что вызываются у профиля
*/


@charset "UTF-8";
/* CSS Document */

body{
	margin:0 !important;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

/*h1{
	position: relative;
	margin: 0px auto;
	margin:30px 10px 30px;
	padding:10px;
	text-transform: uppercase;
	font-size: 24px;
	color: #f16823;
	border-top: 1px solid #f16823;
	border-bottom: 1px solid #f16823;
	width:auto;
	max-width: 900px;
	text-align: center;
	display:inline-block;
	word-wrap: break-word;
	hyphens:auto;
}*/

h1, h2{
	margin:0px 0px 20px;
}

h4{
	margin: 5px 0px 0px;
	padding: 0;
	font-size: 16px
}

h3{
	margin: 20px 0px 0px;
	padding: 0;
}

p{
	margin:0px 0px 10px 0px;
}

h4{
	color:#666;
}

a{
	text-decoration: none;
	color: #333;
}

button{
	position: relative;
	margin: 0 auto;
	border: 0;
	box-sizing:content-box;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	display: list-item;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	list-style: none;
	float: left;
}

.h1_pseudo{
	position: relative;
	margin: 0px auto;
	margin:30px 10px 30px;
	padding:10px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;	
	color: #f16823;
	border-top: 1px solid #f16823;
	border-bottom: 1px solid #f16823;
	width:auto;
	max-width: 900px;
	text-align: center;
	display:inline-block;
	word-wrap: break-word;
	hyphens:auto;
}

.h3_pseudo {
	display: block;
	font-size: 20px;
	-webkit-margin-before: 10px;
	-webkit-margin-after: 5px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

.h4_pseudo {
	margin: 5px 0px 0px;
	padding: 0;
	font-size: 16px;
	color: #666;
	font-weight: bold;
}

.white{
	background-color: white;
}

.orange{
	background-color: #f16823 !important;
}

.cursor_text{
	cursor: auto !important;
}

.button{
	position: relative;
	display: block;
	padding: 10px 20px;
	width: auto;
	height: auto;
	background-color: #03c515;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
}

.button:hover{
	background-color: #02870e;
}

.small_font{
	font-size: 12px;
}

.medium_font{
	font-size: 16px;
}

.border_top20{
	border-top: 1px #efefef solid;
}

.text_link{
	color: #f16823;
}

.text_link:hover{
	color: #c03900;
}

/*
====
MAIN
====
*/

.header_block{
	width:100%;
	height: auto;
}

.header{
	width: 100%;
	height:65px;
	background-color: white;
	z-index: 1; 
	/*position: fixed;*/
}

.main{
	position: relative;
	margin: 0px auto;
	width:1020px;
}

.cf:after,.cf:before {
	content: "";
	display: table
}

.cf:after {
	clear: both
}

.cf {
	zoom: 1;
	position: relative
}

.logo{
	position: relative;
	display: block;
	float: left;
	margin: 5px 10px 5px;
}

.search_block{
	display: block;
	float: left;
	position: relative;
	height: 38px;
	width:400px;
	line-height: 38px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin:12.5px 0px 12.5px 40px;
	-webkit-transition: margin-right .1s;
	transition: margin-right .1s;
}

.search_input{
	display: block;
	width: 380px;
	padding: 0px 10px 0px;
	margin: 0;
	font-size: 14px;
	height: 38px;
	border: 0;
	background: transparent;
	color: #333;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.search_button{
	position: relative;
	background-color: #03c515; /*f16823*/ /*12679b*/ /*09f*/
	height: 40px;
	padding: 0px 15px 0px;
	width: auto;
	border-radius: 3px;
	line-height: 40px;
	float: left;
	display: block;
	margin: 12.5px 0px 12.5px 10px;
	color: #fff;
	cursor: pointer;
}

.search_button:hover{
	background-color:#02870e; /*12679b*/
}

.enter{
	position: relative;
	display: block;
	float: right;
	line-height: 65px;
	padding: 0px 10px 0px;
	height: 65px;
	width: auto;
	cursor: pointer;
}

.enter:hover{
	background-color:#f16823;
	color: #fff
}

/*ОТОБРАЖЕНИЕ В ШАПКЕ ЗАЛОГИНЕННОГО ПОЛЬЗОВАТЕЛЯ*/

.loged_ava{
	position: relative;
	float: right;
	display: block;
	margin: 10px 15px 10px 0px;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	overflow: hidden;
	background: #a8a8a8;
}

.loged_icon{
	position: relative;
	float: right;
	display: block;
	margin: 15px 10px 15px 0px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.opacity07{
	opacity: .7
}

.opacity07:hover{
	opacity: 1;
}

.message_notif{
	position: absolute;
	display: block;
	float: none;
	opacity: 1 !important;
	background: #f16823;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	top:0;
	margin: -5px 0px 0px 20px;
}

/*МЕНЮ НАСТРОЕК*/

#profile_menu_block{
	position: absolute;
	display: none;
	right: 0px;
	top: 65px;
	background: #a8a8a8;
	width:200px;
	height: auto;
	color: #fff;
	z-index: 500;
	-webkit-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.6);
	box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.6);
}

#profile_menu_block:after{
	content:"";
	position: absolute;
	right:18px;
	top:-10px;
	width:0;
	height:0;
	border-right:10px solid transparent;
	border-bottom:10px solid #a8a8a8;
	border-left:10px solid transparent
}

#profile_menu_block li{
	float: left;
	list-style-type: none;
	display: inline;
	border-bottom: 1px solid #939393;
	padding: 10px;
	margin-left:0;
	width: 180px;
	font-size: 14px;
}

#profile_menu_block a{
	color: #fff;
	text-decoration: none;
}

#profile_menu_block li:hover{
	background: rgba(255,255,255,.2)
}

/*END*/

/*ВСПЛЫВАШКА ВХОДА - ЛОГИН/ПАРОЛЬ*/

#login_block{
	position: absolute;
	display: none;
	left: 760px;
	width: 260px;
	/*height: 300px;*/
	top: 105px;
	background: rgba(255,255,255,1);
	z-index: 9999;
	border-radius: 6px;
	-webkit-box-shadow: 0px -1px 34px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 34px 1px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 34px 1px rgba(0,0,0,0.75);
	text-align: center;
	padding-bottom: 20px;
}

.log_header{
	position: relative;
	float: left;
	display: block;
	margin:30px 10px 0px 20px;
	color: #666;
	font-weight: bold;
}

.log_input{
	position: relative;
	display: inline-block;
	padding: 0 10px 0 10px;
	vertical-align: middle;
	width:200px;
	height: 32px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 10px 0 10px 0;
	font-size: 14px;
}

.log_enter_button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.log_link{
	position: relative;
	display: block;
	margin: 0px auto;
	font-size: 12px;
	margin-bottom: 5px;
}

.log_link:hover{
	color: #f16823;
}

/*END*/

.post_header{
	position: relative;
	background-color: #333;
	width: 100%;
	min-width: 1020px;
	height: 35px;
}

.navi{
	position: relative;
	height:100%;
	width: auto;
	line-height: 35px;
	padding: 0px 15px 0px;
	color: #fff;
	float: left;
	display: block;
	cursor: pointer;
}

.navi:hover{
	background-color:#f16823;
}

.teaser{
	position: relative;
	width: 100%;
	min-width: 1020px;
	height: 450px;
	background:url(materials/background2.jpg) no-repeat;
	background-position: center center;
}

.description{
	position: relative;
	display: block;
	float: left;
	margin-left: 40px;
	padding-right: 70px;
	border-right: 3px #fff solid;
	width:500px;
	height:273px;
	color: #fff;
	text-transform: uppercase;
	font-size: 80px;
}

.counters{
	position: relative;
	display: block;
	float: left;
	margin-left: 70px;
	height: 273px;
	width: 337px;
}

.counter_block{
	position: relative;
	display: table;
	float: left;
	vertical-align: middle;
	width: 337px;
	height: 91px;
}

.counter{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}

/*News block*/

.news{
	position: relative;
	background-color: #fff;
	width: 100%;
	height: auto;
}

.news_block{
	position: relative;
	display: block;
	float: left;
	margin:10px;
	border: 1px #a8a8a8 solid;
	border-radius: 5px;
	height:482px;
	width: 318px;
	overflow: hidden;
	cursor: pointer;
}

.news_block:hover{
	background: #e5e5e5;
}

.news_block:hover .hidder{
	background: #e5e5e5;
}

.img_news{
	position: relative;
	height:200px;
	width: 318px;
	overflow: hidden;
}

.img_news_settings{
	width: 318px;
	min-height: 200px;
}

.news_header{
	margin: 0px 10px 0px;
}

.header_news{
	margin: 10px 0px 10px;
	font-size: 22px;
	font-weight: bold;
}

.news_date{
	margin-bottom:10px;
	margin-left: 10px;
	position: relative;
	height: auto;
	width: 320px;
	font-size: 12px;
	color: #666;
}

.news_announce{
	margin:10px;
	font-size: 16px;
	overflow: hidden;
}

.hidder{
	position: absolute;
	margin-top: 462px;
	height: 20px;
	background-color: #fff;
	width: 100%;
	z-index: 5 !important;
}

.show_more{
	position: relative;
	margin-top: 0px;
	background-color:#a8a8a8;
	width: 100%;
	height:40px;
	display: table;
	cursor: pointer;
	margin-top: 10px;
}

.show_more:hover{
	background-color: #f16823;
	color: #fff;
}

.show_more_enter{
	position: relative;
	margin: 0px auto;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

/*
===============================
СТРАНИЦА КОНТЕНТА С САЙД-БАРОМ
===============================
*/

.block{
	position: relative;
	width: 100%;
	min-width: 1020px;
	height: auto;
	background: #fff;
}

.block:after,.block:before {
    content: "";
    display: table
}

.block:after {
    clear: both
}

.breads{
	position: relative;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	width: 1000px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #666;
}

.sidebar{
	position: relative;
	display: block;
	margin-top:10px;
	padding: 10px;
	float: left;
	width: 230px;
	height: auto;
}

.content{
	position: relative;
	display: block;
	margin-top:10px;
	padding: 10px 10px 10px 19px;	
	float: left;
	width: 740px;
	border-left: 1px #ddd solid;
	height: auto;
}

.header_bar{
	position: relative;
	display: block;
	width: 190px;
	font-size: 1.125em;
	text-shadow: inherit;
	padding: .375em 15px .5em;
	background: rgba(241,104,36,.1);
	color: #f16823;
	border-top: 2px solid #f16823;	
}

.header_bar:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: -8px;
	left: 16px;
	border-top: 8px solid rgba(241,104,36,.25);
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.categories{
	position: relative;
	display: block;
	margin-top:20px;
	width: auto;
	height: auto;
}

.category{
	position: relative;
	display: block;
	padding: 8px 35px 8px 15px;
	margin-bottom: 2px;
	width: 167px;
	background: rgba(0,0,0,.02);
	text-decoration: none;
	border-left: 3px solid rgba(0,0,0,.1);
	color:#333;
	cursor: pointer;
}

.q{
	position: absolute;
	top: 50%;
	right: 6px;
	text-align: center;
	font-style: normal;
	font-size: .875em;
	color: #333;
	background: rgba(0,0,0,.1);
	border-radius: .25em;
	padding: .375em .5em;
	-webkit-transform: translate(-.5em,-50%);
	-moz-transform: translate(-.5em,-50%);
	-ms-transform: translate(-.5em,-50%);
	-o-transform: translate(-.5em,-50%);
	transform: translate(-.5em,-50%);
}

.category:hover{
	background: rgba(0,0,0,.45);
	border-left: 3px solid #f16823;
	color:#fff;	
}

.category:hover .q{
	background: #333;
	color: #fff;
}

.sidebar_button{
	margin:0px auto;
	margin-top: 20px;
	margin-bottom: 10px;
}


/*
================
СТРАНИЦА НОВОСТИ
================
*/

.article_text, .any_text{
	position: relative;
	display: block;
	margin-top:20px;
}
.articles_comments_block{
	margin: 20px 0px 0px 0px !important;
}

.article_date{
	position: relative;
	display: block;
	color: #666;
	float: right;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
}

.article_author{
	position: relative;
	display: block;
	color: #666;
	float: left;
	font-size: 12px;
	width: 50%;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #a8a8a8;
}

.article_tags{
	position: relative;
	display:inline-block;
	border: 1px #a8a8a8 solid;
	border-radius: 6px;
	width: 720px;
	padding: 10px;
	margin-top: 20px;
	text-decoration: none;
	font-size: 12px;
}

.article_tags p{
	font-weight: bold;
	float: left;
	margin: 0;
}

.article_tags li a{
	float: left;
	list-style-type: none;
	display: inline;
	padding-right: 10px;
	color: #666;
}

.article_tags li a:hover{
	color: #f16823;
}

/*
==============
ЛИЧНЫЙ КАБИНЕТ
==============
*/

.background{
	position: relative;
	display: block;
	width: 100%;
	min-width:1020px;
	height:500px;
	overflow: hidden;
	z-index: 0;
}

img.blur { 
	width:100%; 
	height:auto; 
	filter: url(blur.svg#blur); 
	-webkit-filter: blur(5px); 
	filter: blur(5px); 
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5'); 
	background-position: 50% 50%;
}

.person_block, .public_block{
	position: relative;
	margin-top: -500px;
	background: rgba(0,0,0,0.25);
	z-index: 2;
	width: 100%;
	height:500px;
}

.person_container, .public_container{
	position: relative;
	margin:0px auto;
	display: block;
	width: 1020px;
	height: 500px;
	overflow: hidden;
	z-index: 3;
}

.personal, .publical{
	position: relative;
	display: block;
	margin:10px;
	padding: 10px;
	float: left;
	width: 320px;
	height: 460px;
	background: rgba(255,255,255,.7)
}

.my_photo, .public_photo{
	position: relative;
	margin: 10px 60px auto;
	display: block;
	width:200px;
	height: 200px;
	border-radius: 200px;
	background: rgba(0,0,0,0.1);
	overflow: hidden;
	text-align: center;
}

.personal_stat_block, .public_stat_block{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin-top:40px;
	margin-bottom: 40px;
}

.personal_stat, .publical_stat{
	position: relative;
	display: block;
	text-align: center;
	height:auto;
	max-width: 320px;
	margin: 5px;
}

.message_button, .public_button{
	position: relative;
	display: block;
	margin: 20px 30px auto;
	padding:20px 15px;
	background: #03c515;
	color:#fff;
	width: 230px;
	text-align: center;
	font-size: 20px;
	font-family: arial, tahoma, helvetica, sans-serif;
	cursor: pointer;
	border-radius: 3px;
}

.message_button:hover, .public_button:hover{
	background: #02870e;
}

.thats_u{ /*Это появляется, когда ты на свою страницу заходишь */
	position: relative;
	display: block;
	margin: 20px 30px auto;
	padding:20px 15px;
	color:#fff;
	background: rgba(0,0,0,.2);
	/*width: 230px;*/
	text-align: center;
	font-size: 20px;
	font-family: arial, tahoma, helvetica, sans-serif;
	border-radius: 3px;
	border: 1px solid #fff;
}

.personal_detail_block, .publical_detail_block{
	position: relative;
	display: block;
	margin:10px;
	padding: 10px;
	float: left;
	width: 620px;
	height: auto;
	max-height:460px;
	background: rgba(255,255,255,.7);
	overflow:hidden;
}

.name_n_tag{
	position: relative;
	display: block;
	width: 450px;
}

.name{
	position: relative;
	display: block;
	margin: 20px 20px 5px 20px;
	width: auto;
	height: auto;
	text-align: left;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}

.tag_block{
	position: relative;
	display: block;
	width: auto;
	height: 18px;
	margin-bottom: 20px;
}

.tags{
	position: relative;
	display: block;
	float: left;
	margin: 0px 0px 5px 20px;
	padding-right: 20px;
	width: auto;
	height: auto;
	text-align: left;
	font-size: 18px;
	border-right: 1px #666 solid
}

.contacts_block{ 
	position: relative;
	margin: 21px 0px;
	display: block;
	width: 620px;
	height: auto;
	margin-bottom: 20px;
}

.contacts{
	position: relative;
	display: block;
	margin: 2px 20px 0px 20px;
	max-width: 620px;
	height: auto;
	text-align: left;
	font-size: 14px;
}

 .exp_block{
 	position: relative;
	margin: 5px 20px;
	display: inline-block;
	width: auto;
	height: auto;
 }

.exp_name{
	position: relative;
	display: block;
	float: left;
	width: 150px;
	font-size:14px;
	color: #666;
}

.exp{
	position: relative;
	display: block;
	float: left;
	width: 400px;
	height: auto;
	font-size: 16px;
	color: #333;
	list-style: none;
}

#experience, #projects, #skills, #achievements, #edu, #communities, .post{
	position: relative;
	display: block;
	margin-bottom: 20px;
	background-color: #efefef;
	width: 700px;
	padding: 20px;
	height: auto;
}

.inblock{
	position: relative;
	display: block;
	width: 100%;
	height:auto;
}

.date{
	position: relative;
	display: block;
	color: #666;
	width: 100%;
	height: auto;
	margin:5px 0px 5px;
}

.text{
	position: relative;
	display: block;
	color: #333;
	width:100%;
	height: auto;
}

.list{
	list-style: circle;
	position:relative;
	display: block;
	height: auto;
	width: 100%;
}

ul.skills_list{
	position: relative;
	display: inline-block;
}

.skills_list li{
	float: left;
	list-style-type: none;
	display: inline;
	padding: 3px 8px;
	margin: 5px 5px 0px;
	border-radius: 3px;
	background: #f16823;
	color: #fff;
}

/*
==================================
СТРАНИЦА ПОЛЬЗОВАТЕЛЬСКОГО ПРОФИЛЯ
==================================
*/

.mypage_thats_u{
	margin-top: 30px;
}

.mypage_personal_stat_block{
	margin-bottom: 20px;
	margin-top: 20px;
}

.mypage_edit_button{
	margin-top: 55px;
}

.mypage_label{
	position: absolute;
	float: left;
	background: #f16823;
	padding: 10px 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	z-index: 2;
	margin-left: -20px;
	margin-top: 10px;
}

/*
=======================================
СТРАНИЦА ПОЛЬЗОВАТЕЛЯ (СКРЫТЫЙ ПРОФИЛЬ)
=======================================
*/

.green_hover{
	background: #f16823
}

.green_hover:hover{
	background: #be4203;
}

/*
===============================
СТРАНИЦА РЕДАКТИРОВАНИЯ ПРОФИЛЯ
===============================
*/

.edit_personal_detail_block{
	padding: 20px;
	width: 580px;
}

.edit_name_n_tag{
	width: 100%;
}

.edit_photo{
	position: relative;
	color: #a8a8a8;
	font-size: 200px;
	width: 200px;
	height: 200px;
	line-height: 200px;
	cursor: pointer;
}

.edit_photo:hover{
	color: #fff;
	background-color: #a8a8a8;
}

.edit_background{
	text-align: center;
	background: none;
	margin-top: 50px;
}

.edit_background_page{
	margin: 0 auto;
	display: inline-block !important;
}

.input_big{
	position: relative;
	display: inline-block;
	padding: 0 10px 0 10px;
	vertical-align: middle;
	height: 45px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 10px 0 10px 0;
	font-size: 18px;
}

.input_standard{
	position: relative;
	display: inline-block;
	padding: 0 10px 0 10px;
	vertical-align: middle;
	height: 32px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 5px 0 5px 0;
	font-size: 14px;
}

.input_small{
	position: relative;
	display: inline-block;
	padding: 0 10px 0 10px;
	vertical-align: middle;
	height: 22px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 5px 0 5px 0;
	font-size: 10px;
}

.edit_name{
	float: left;
	margin-right: 10px;
	width: 240px;
}

.edit_personal_contacts{
	width: 150px;
	float: none;
}

.edit_company, .edit_position{
	width: 250px;
}

.edit_date_exp{
	font-size: 10px !important;
	height: 28px !important;
	margin:5px 0 5px 0 !important;
	padding:0px 5px 0px 5px !important;
	width: 100px !important;
}

.edit_desc_exp {
	display: block;
	position: relative;
	line-height: 16px;
	height: 68px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 10px 0px 10px 0px;
	-webkit-transition: margin-right .1s;
	transition: margin-right .1s;
	overflow: hidden;
}

.edit_add{
	position: relative;
	margin:0px auto;
	display: block;
	cursor: pointer;
	margin: 30px 0px 20px;
	color: #a8a8a8;
	font-weight: bold;
}

.edit_add:hover{
	color: #666;
}


/*
=============================
ИНТЕРФЕЙС НАПИСАНИЯ СООБЩЕНИЯ
=============================
*/

#message_block_back{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 998;
	top: 0;
}

.message_block{
	position: relative;
	display: block;
	padding: 20px;
	width: 610px;
	height: auto;
	top:50%;
	margin-top: -142px;
	left: 50%;
	margin-left: -325px;
	background: #fff;
	z-index: 999;
}

.header_message_block{
	position: relative;
	padding: 10px 15px 10px;
	display: inline-block;
	margin: 0px 0px 0px -27px;
	background: #f16823;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.message_input{
	display: block;
	width: 588px !important;
	border: 1px solid #a8a8a8 !important;
	margin: 20px 0px !important;
	height: 100px !important;
}

/*
======
FOOTER
======
*/

.footer{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-top:1px #ddd solid;
	margin-top: 20px;
	padding: 20px 0px;
}

.footer_line{
	position: relative;
	display: block;
	margin: 10px 0px 10px 0px;
	width: 100%;
	height: auto;
}

.footer_line:after,.footer_line:before {
    content: "";
    display: table
}

.footer_line:after {
    clear: both
}

.footer_text{
	position: relative;
	display: block;
	float: left;
	padding: 2px 10px;
	border-right: 1px #ddd solid;
	font-size: 12px;
}

a.footer_text:hover{
	color:#f16823;
}


/*
================================
ГРУППА ИЛИ СООБЩЕСТВО ИЛИ ПАБЛИК
================================
*/

.author{
	position: relative;
	display: block;
	color: #666;
	width: 100%;
	height: auto;
	margin:5px 0px 5px;
	font-weight: bold;
}

.header_post_block {
	position: relative;
	display: block;
	width:700px;
	min-height:100px;
	margin-bottom: 20px;
}

.header_post {
	position: relative;
	display: block;
	min-height: 100px;
	width:500px;
	float: left;
}

.author_photo {
	position: relative;
	display: block;
	float: right;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	overflow: hidden;
}

.comments_block{
	position: relative;
	display: block;
	border-top:1px #ddd solid;
	margin:40px -20px -20px -20px;
	padding: 10px 0px 10px 0px;
	background-color: #d2d2d2;
}

.comments_container{
	position: relative;
	display: block;
	margin:0px 20px 0px 20px;
	height: auto;
}

.comments_input_block{
	display: block;
	position: relative;
	line-height: 16px;
	height: 68px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin:20px 0px 10px 0px;
	-webkit-transition: margin-right .1s;
	transition: margin-right .1s;
	overflow: hidden;
}

.comments_input{
	display: inline-block;
	width: 678px;
	height: 48px;
	padding: 0px 10px 0px;
	margin: 0;
	font-size: 14px;
	height: 38px;
	border: 0;
	background: transparent;
	color: #333;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea.comments_input{
	height: 48px;
	padding:10px;
	resize:none;
}

.comments_enter_block{
	position: relative;
	display: block;
	margin: 0px auto;
	width: auto;
	margin-top: 10px;
}

.comments_button{
	margin:0px auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.comment_block{
	position: relative;
	display: block;
	margin:10px 0px;
	padding-top:10px;
	border-top: 1px #efefef solid;
}

.header_comment_block{
	position: relative;
	display: block;
	width:700px;
	min-height:50px;
	margin-bottom: 10px;
}

.header_comment{
	position: relative;
	display: block;
	min-height: 50px;
	width:500px;
	float: left;
}

.reply_comment_block{
	position: relative;
	display: block;
	float: right;
	margin-top:10px;
	text-align: right;
	color: #a8a8a8;
	font-size: 12px;
	cursor: pointer;
}

.reply_comment_block:hover{
	color: #666;
}

.author_comment_photo{
	position: relative;
	display: block;
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
}

.delete_comment{
	position: relative;
	display: block;
	float: right;
	color: #a8a8a8;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
}

.delete_comment:hover{
	color: #666;
}
	
/*
====================
СТРАНИЦА РЕГИСТРАЦИИ
====================
*/

.reg_back{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	background: url(materials/reg_back.jpg) center no-repeat;
	padding-bottom: 30px;
}

.reg_block{
	position: relative;
	display: block;
	padding-top: 20px;
}

.reg_container{
	position: relative;
	display: block;
	margin: 0px auto;
	padding: 20px;
	width: 650px;
	height: auto;
	background-color: rgba(255,255,255,.7);
	text-align: center;
}

.outline_text{
	position: relative;
	display: block;
	margin: 0px auto;
	padding: 10px;
	width: 600px;
	height: auto;
	background-color: #efefef;
	text-align: left;
}

.reg_input{
	position: relative;
	display: inline-block;
	padding: 0 10px 0 10px;
	vertical-align: middle;
	min-width: 50px;
	max-width: 400px;
	width: 100%;
	height: 32px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 10px 0 10px 0;
	font-size: 14px;
}

.reg_select{
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	min-width: 50px;
	max-width: 100px;
	width: 100%;
	height: 32px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 10px 0 10px 0;
}

.reg_select:before {
	content: '\25bc';
	position: absolute;
	pointer-events: none;
	color: #82888a;
	top: 0;
	bottom: 1px;
	padding-top: 0.7em;
	line-height: 1;
	right: 0;
	width: 2em;
	text-align: center;
	transform: scale(0.84, 0.42);
	-webkit-transform: scale(0.84, 0.42);
	-moz-transform: scale(0.84, 0.42);
	-ms-transform: scale(0.84, 0.42);
	-o-transform: scale(0.84, 0.42);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand');
}

select.reg_class{
	border: 0;
	background-color: #fff;
	color: #565a5c;
	display: block;
	padding: 8px 10px;
	width: 100%;
	height: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 2em;
	-webkit-appearance: none;
	font-size: 14px;
}

.plc_black::-webkit-input-placeholder {color:#333;}
.plc_black::-moz-placeholder          {color:#333;}
.plc_black:-moz-placeholder           {color:#333;}
.plc_black:-ms-input-placeholder      {color:#333;}


/*
=====================================
СТРАНИЦА ВХОДА ПОЛЬЗОВАТЕЛЯ (logpage)
=====================================
*/

.logpage_block_back{
	position: relative;
	display: block;
	width: 100%;
	height: 650px;
	background: url(materials/login_back.jpg) center no-repeat;
}

.logpage_block{
	position: absolute;
	display: block;
	padding: 20px;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -300px;
	width: 560px;
	height: auto;
	background: rgba(255,255,255,.8);
}

.login_sector{
	position: relative;
	display: block;
	width: 260px;
	height: 100%;
	border-right: 1px solid #a8a8a8;
	padding-right: 20px;
}

.logpage_login{
	width: 240px;
}

.logpage_element_header{
	padding-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

.login_social_block{
	position: relative;
	float: left;
	display: table;
	height: 100%;
}

.login_social_content{
	position: relative;
	display: table-cell;
	vertical-align: middle;

}

