{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<div class="change_pass_back cf">
  <div class="main cf">
    <div class="change_pass_block">
      <form action="" method="post" id="password_change_form">
          <h1>{% trans "Change Password" %}</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button" type="submit" value="{% trans "Change password" %}">Изменить пароль</button>
      </form>
    </div>  
  </div>
</div>

{% endblock %}
