{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
  <ul id="box-nav">
    <li class="first"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li class="selected"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li class="last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
  </ul>
</br>
<H1> Редактирование резюме </H1>

<H2> Опыт работы </H2>
<form method="post" action="">
	{% csrf_token %}
    {{formSetProfExp.management_form}}
    <div class = "table1">
        {% for form in formSetProfExp %}
         <div class = "tr">
        {{ form.as_table }}
        </div>
        {% endfor %}
    </div>
    <input type="button" value="Добавить ещё опыт работы" id="add_more_1">
    <input type="submit" value="Сохранить опыт работы" />
</form>

<H2> Проектная деятельность </H2>
<form method="post" action="">
	{% csrf_token %}
    {{formSetProjExp.management_form }}
    <div class = "table2">
        {% for form in formSetProjExp %}
         <div class = "tr">
        {{ form.as_table }}
        </div>
        {% endfor %}
    </div>
    <input type="button" value="Добавить ещё проекты" id="add_more_2">
    <input type="submit" value="Сохранить проекты" />
</form>

<H2> Награды </H2>
<form method="post" action="">
	{% csrf_token %}
    {{formSetAwards.management_form }}
    <div class = "table3">
        {% for form in formSetAwards %}
         <div class = "tr">
        {{ form.as_table }}
        </div>
        {% endfor %}
    </div>
    <input type="button" value="Добавить ещё награды" id="add_more_3">
    <input type="submit" value="Сохранить награды" />
</form>

<script>
    $('#add_more_1').click(function() {
        cloneLastFormInFormset('div.table1:last div.tr:last', 'form');
    });
    $('#add_more_2').click(function() {
        cloneLastFormInFormset('div.table2:last div.tr:last', 'form');
    });
    $('#add_more_3').click(function() {
        cloneLastFormInFormset('div.table3:last div.tr:last', 'form');
    });
</script>

{%comment%}
<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Save changes" %}" />
</form>
{%endcomment%}


{% endblock %}
