{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}

<div class="block">
	<div class="background">
		<img src="{{STATIC_URL}}materials/back_profile.jpg" class="blur" style="margin-top:-225px" height="450">
	</div>
	<div class="person_block">
		<div class="person_container">
			<div class="personal">
				<div class="my_photo">
					<img src="{{profile.get_mugshot_url}}" height="200">
				</div>
				<div class="personal_stat_block">
					<div class="personal_stat">Статус: online</div>
					<div class="personal_stat">Опыт работы: есть</div>
					<div class="personal_stat">Релевантных достижений: 11</div>
					<div class="personal_stat">Контактов: 411</div>
				</div>	
				<button class="message_button">Оправить сообщение</button>
			</div>
			<div class="personal_detail_block"> <!--тут надо учитывать, что данных может быть больше чем, высота блока-->
				<div class="name_n_tag">
					<h1 class="name">{{ profile.user.get_full_name }}</h1>
					<ul class="tag_block">
						<li class="tags">Выпускник</li>
						<li class="tags">Associate</li>
					</ul>
				</div>	
				<div class="contacts_block">
					<div class="contacts">Россия, Москва</div>
					<div class="contacts">+7 905 539 38 91</div>	
					{% if profile.user.email and not hide_email %}
					<div class="contacts">{{ profile.user.email }}</div>
		    		{% endif %}
					<!--<div class="contacts">https://vk.com/andy_nguyen</div>
					<div class="contacts">am_andrey_nguyen</div>-->
				</div>
				<div class="exp_block">
					<div class="exp_name">
						Сейчас:
					</div>
					<ul class="exp"><!--3 строки-->
		                {% for anexperience in profExpData %}
		                	<li>{{ anexperience.company }},</li>
		                {% endfor %}
<!-- 						<li>Associate - Viamedix,</li>
						<li>CEO - AnalizMarket,</li>
						<li>CEO - Medclub,</li>
						<li>CEO - HBC Group,</li>
						<li>Co-founder - Phoenix&amp;Partners</li> -->
					</ul>
				</div>
				<div class="exp_block">
					<div class="exp_name">
						Прошлое:
					</div>
					<ul class="exp"><!--1 строкa-->
						<li>Project Manager - Fincontest,</li>
						<li>Project Manager - FMF</li>
					</ul>
				</div>
				<div class="exp_block">
					<div class="exp_name">
						Образование:
					</div>
					<ul class="exp"><!--2 строки-->
						<li>Финансовый Университет при правильстве Российской Федерации '2014</li>
					</ul>
				</div>	
				<div class="exp_block">
					<div class="exp_name">
						Профессиональные достижения:
					</div>
					<ul class="exp"> <!--5 строк-->
						<li>Winner - Cup Moscow 2012,</li>
					</ul>
				</div>
				<div class="exp_block">
					{% if profile.age %}
					<div class="exp_name">{% trans "Age" %}</div>
					<div>{{ profile.age }}</div>
					{% endif %}
					{% if profile.website %}
					<div class="exp_name">{% trans "Website" %}</div>
					<div>{{ profile.website|urlize }}</div>
					{% endif %}
					{% if profile.location %}
					<div class="exp_name">{% trans "Location" %}</div>
					<div>{{ profile.location }}</div>
					{% endif %}
					{% if profile.about_me %}
					<div class="exp_name">{% trans "About me" %}</div>
					<div>{{ profile.about_me }}</div>
					{% endif %}
				</div>
				<div class="show_more">
					<a class="show_more_enter" href="#experience">Подробнее</a>
				</div>	
			</div>	
		</div>
	</div>
</div>




  
<div class="block white">
<div class="main">
<aside class="sidebar">
<div class="categories" style="margin-top:0px">
	<a class="category" href="#experience">Опыт работы</a>
	<a class="category" href="#projects">Проекты</a>
	<a class="category" href="#skills">Навыки</a>
	<a class="category" href="#achievements">Достижения</a>
	<a class="category" href="#edu">Образование</a>
	<a class="category" href="#lent">Лента</a>
	<a class="category" href="#communities">Группы и страницы</a>
</div>
	<button class="button sidebar_button">Написать в ленту</button>
</aside>
<div class="content">
	<div id="experience">
		<h2>Опыт работы</h2>
		{% for anexperience in profExpData %}
		<div class="inblock">
			<h3>{{anexperience.company}}</h3>
			<h4>{{anexperience.position}}</h4>
			<div class="date">
				{{anexperience.jobstart}} - {{anexperience.jobend}}
			</div>
			<div class="text">
				{{anexperience.jobdescription}}
			</div>
		</div>
		{% endfor %}
	</div>
	{% if projExpData %}
	<div id="projects">
		<h2>Проекты</h2>
		{% for anexperience in projExpData %}
		<div class="inblock">
			<h3>{{anexperience.project}}</h3>
			<h4>{{anexperience.projectdescription}}</h4>
			<div class="date">
				{{anexperience.projectstart}} - {{anexperience.projectend}}
			</div>
			<div class="text">
				{{anexperience.projectdescription}}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% if awardsData %}
	<div id = "achievements">
		<h2>Достижения</h2>
		{% for anexperience in awardsData %}
		<div class="inblock">
			<h3>{{anexperience.award}}</h3>
			<div class="date">
				
			</div>
			<div class="text">
				{{anexperience.award}}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
</div>
</div>

  
{% endblock %}
