{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}

<div class="logpage_block_back cf">
  <div class="main logpage_block">
    <div class="login_sector">
      <form action="" method="post">
        {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
          {{ field.errors }}
          {% comment %} Displaying checkboxes differently {% endcomment %}
          {% if field.name == 'remember_me' %}
          <p class="checkbox">
          <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
          </p>
          {% else %}
          <p>
          <div class="logpage_element_header">{{ field.label_tag }}</div>
          {{ field }}
          </p>
          {% endif %}
          {% endfor %}
        <button class="button" style="margin:20px auto" type="submit" value="{% trans "Signin" %}">Войти</button>
        <p class="forgot-password" style="text-align:center"><a class="log_link" href="{% url 'userena_password_reset' %}">Забыл пароль</a></p>
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
